<div class="container-fluid">
  <div class="container forw col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <img src="./images/profil/aku2.jpg" alt="" />
    <div>
      <h1>Script</h1>
      <h4>Abista V D</h4>
    </div>
  </div>
  <div class="container forw col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <img src="./images/profil/sella.jpg" alt="" />
    <div>
      <h1>Konten Kreator</h1>
      <h4>Sella M</h4>
    </div>
  </div>
  <div class="container forw col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <img src="./images/profil/aldis.jpg" alt="" />
    <div>
      <h1>Layout</h1>
      <h4>Aldis Ghandi</h4>
    </div>
  </div>
  <div class="container forw col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <img src="./images/profil/tito.jpg" alt="" />
    <div>
      <h1>Styling</h1>
      <h4>Syaril Tito</h4>
    </div>
  </div>
</div>
