<div class="container-fluid" ng-controller="dosen">
  <info></info>
  <div class="container idSearch col-lg-4">
    <input type="text" ng-model="search" placeholder="Cari" />
  </div>
  <div class="container-fluid w-100 row list">
    <div
      class="container dosen col-lg-5 col-md-4"
      ng-repeat="list in dosen | filter: search"
    >
      <div class="col-lg-2">
        <div class="mg">
          <img src="{{ list.pics }}" alt="profil" />
        </div>
      </div>
      <div class="col-lg-6">
        <h5 ui-sref="sdosen({id: list.email })">{{ list.nama }}</h5>
        <a href="{{ list.email }}@amikom.ac.id"
          >{{ list.email }}@amikom.ac.id</a
        >
      </div>
    </div>
  </div>
</div>
