<div ng-controller="home">
  <!--menu utama-->
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
    data-interval="2000"
  >
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row top-content">
          <div class="col-lg-6 cimg">
            <img
              clas="img-responsive"
              width="100%"
              src="./images/home/{{ news[0].img }}"
              alt=""
            />
          </div>
          <div class="col-lg-5 top-konten">
            <h3>
              {{ news[0].title }}
            </h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ news[0].cnt }}</p>
            <button
              class="btn btn-md  pull-right"
              data-target="#carouselExampleIndicators"
              data-slide-to="1"
            >
              NEXT
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row top-content">
          <div class="col-lg-6 cimg">
            <img
              clas="img-responsive"
              width="100%"
              src="./images/home/{{ news[1].img }}"
              alt=""
            />
          </div>
          <div class="col-lg-5 top-konten">
            <h3>
              {{ news[1].title }}
            </h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ news[1].cnt }}</p>
            <button
              class="btn btn-md  pull-right"
              data-target="#carouselExampleIndicators"
              data-slide-to="2"
            >
              NEXT
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row top-content">
          <div class="col-lg-6 cimg">
            <img
              clas="img-responsive"
              width="100%"
              src="./images/home/{{ news[2].img }}"
              alt=""
            />
          </div>
          <div class="col-lg-5 top-konten">
            <h3>
              {{ news[2].title }}
            </h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; {{ news[2].cnt }}</p>
            <button
              class="btn btn-md  pull-right"
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
            >
              NEXT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--info kampus-->
  <div class="row container-fluid inf">
    <div class="panel panel-info col-lg-3 menu-3" ng-repeat="list in info">
      <h3>{{ list.title }}</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ list.fill }}</p>
    </div>
  </div>

  <!--pmb-->
  <div class="row"></div>
  <div
    class="container-fluid pmb "
    style="height: 200px;"
    id="homepmb"
    data-aos="fade-left"
  >
    <div class="col-lg-8" style="color:white;">
      <h1>PMB 2019/2020</h1>
      <p>
        Selamat Datang di Website Penerimaan Mahasiswa Baru (PMB) UNIVERSITAS
        AMIKOM Yogyakarta Melalui Website ini Anda dapat mendapatkan informasi
        Program Studi, biaya, beasiswa, jadwal kegiatan, pendaftaran secara
        online dan informasi lain yang terkait. Sebelum melakukan pendaftaran
        silahkan baca informasi terlebih dahulu
      </p>
    </div>
    <div class="col-lg-4 info-pmb r">
      <button ui-sref="sarat()" class="btn btn-lg">
        Syarat Pendaftaran
      </button>
      <p>
        &nbsp;
      </p>
      <button ui-sref="registrasi()" class="btn btn-lg">
        link pendaftaran
      </button>
    </div>
  </div>

  <!--update-->
  <div class="row container-fluid">
    <div class="col-lg-12 update">
      <h4>E-learning Update</h4>
      <span class="col-lg-3" ng-repeat="list in update" data-aos="zoom-in">
        <h1 ui-sref="{{ list.url }}">{{ list.title }}</h1>
        <p>{{ list.unit }}</p>
      </span>
    </div>
  </div>
</div>
