<div ng-controller="home">
  <!--menu utama-->
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row top-content">
          <div class="col-lg-6 cimg">
            <img
              clas="img-responsive"
              width="100%"
              src="./images/home/{{ news[0].img }}"
              alt=""
            />
          </div>
          <div class="col-lg-5 top-konten">
            <h3>
              {{ news[0].title }}
            </h3>
            <p>
              {{ news[0].cnt }}
            </p>
            <button
              class="btn btn-md  pull-right"
              data-target="#carouselExampleIndicators"
              data-slide-to="1"
            >
              next
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row top-content">
          <div class="col-lg-6 cimg">
            <img
              clas="img-responsive"
              width="100%"
              src="./images/home/{{ news[1].img }}"
              alt=""
            />
          </div>
          <div class="col-lg-5 top-konten">
            <h3>
              {{ news[1].title }}
            </h3>
            <p>
              {{ news[1].cnt }}
            </p>
            <button
              class="btn btn-md  pull-right"
              data-target="#carouselExampleIndicators"
              data-slide-to="2"
            >
              next
            </button>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row top-content">
          <div class="col-lg-6 cimg">
            <img
              clas="img-responsive"
              width="100%"
              src="./images/home/{{ news[2].img }}"
              alt=""
            />
          </div>
          <div class="col-lg-5 top-konten">
            <h3>
              {{ news[2].title }}
            </h3>
            <p>
              {{ news[2].cnt }}
            </p>
            <button
              class="btn btn-md  pull-right"
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
            >
              next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--info kampus-->
  <div class="row container-fluid">
    <div class="panel panel-info col-lg-3 menu-3" ng-repeat="list in info">
      <h1>{{ list.title }}</h1>
      <p>{{ list.fill }}</p>
      <a href="#">dawdawd</a>
    </div>
    <button class="btn btn-sm btn-info pull-right">selengkapnya</button>
  </div>

  <!--pmb-->
  <div class="row container-fluid pmb ">
    <div class="col-lg-8">
      <h1>Ini menu PMB</h1>
      <p>
        ini adalah deskripsi awdnawldnlwd wdnawd addanwdad amwdlandanwd wdjmad
        adwda ddiaw dawd po ionion necn aefjapofn fofln fnwflanf jgpenfk ranr
        fnaefn femnf.
      </p>
    </div>
    <div class="col-lg-4 info-pmb r">
      <p>Sepertinya anda tertarik! klik link berikut</p>
      <button ui-sref="info-pmb()" class="btn btn-info">
        info selengkapnya
      </button>
      <p>Mau langsung daftar? Yuk mari...</p>
      <button ui-sref="daftar()" class="btn btn-primary">
        Pendaftaran baru
      </button>
    </div>
  </div>

  <!--update-->
  <div class="row container-fluid">
    <div class="col-lg-12 update panel">
      <h4>E-learning Update</h4>
      <span class="col-lg-3" ng-repeat="list in update">
        <h1 ui-sref="{{ list.url }}">{{ list.title }}</h1>
        <p>{{ list.unit }}</p>
      </span>
    </div>
  </div>
</div>
