<div class="container-fluid" ng-controller="kmhs">
  <info></info>
  <div class="container-fluid pull-right">
    <a ui-sref="chkm()">back</a>
  </div>

  <div class="container row panel">
    <div class="row container khs">
      <div class="container row col-lg-3 pull-right memangbujank" mhs="ya">
        <div class="container col-lg-6">
          <b class="col-lg-12">Semester</b>
          <select
            ng-model="smt"
            ng-options="list for list in semester"
            class="form-control carimat"
            style="height: 40px;"
          ></select>
        </div>
        <div class="container col-lg-6">
          <b class="col-lg-12">Tahun</b>
          <select
            ng-model="thn"
            ng-options="list for list in tahun"
            class="form-control carimat"
            style="height: 40px;"
          ></select>
        </div>
      </div>
      <div class="col-lg-3" style="left:55%;top:12px;">
        <button class="btn btn-md bg-warning" id="unlok">Tamplikan</button>
      </div>
      <table
        class="table table-striped col-lg-12"
        style="display:none;margin-left:10%"
      >
        <thead>
          <tr>
            <th>NO.</th>
            <th>KODE</th>
            <th>MATA KULIAH</th>
            <th>SKS</th>
            <th>NILAI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>ST001</td>
            <td>PENDIDIKAN PANCASILA</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>2</td>
            <td>ST003</td>
            <td>PENDIDIKAN AGAMA (NON MUSLIM)</td>
            <td>2</td>
            <td>B</td>
          </tr>
          <tr>
            <td>3</td>
            <td>ST008</td>
            <td>BAHASA INGGRIS I</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>4</td>
            <td>ST011</td>
            <td>MANAJEMEN UMUM</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>5</td>
            <td>ST068</td>
            <td>ALGORITMA DAN PEMROGRAMAN</td>
            <td>4</td>
            <td>A</td>
          </tr>
          <tr>
            <td>6</td>
            <td>ST070</td>
            <td>ETIKA PROFESI</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>7</td>
            <td>ST081</td>
            <td>LOGIKA INFORMATIKA</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>8</td>
            <td>ST092</td>
            <td>ALJABAR LINIER DAN MATRIKS</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>9</td>
            <td>ST137</td>
            <td>KALKULUS</td>
            <td>2</td>
            <td>B</td>
          </tr>
          <tr>
            <td>10</td>
            <td>ST138</td>
            <td>FOTOGRAFI</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr>
            <td>11</td>
            <td>ST139</td>
            <td>PENGANTAR ILMU KOMPUTER</td>
            <td>2</td>
            <td>A</td>
          </tr>
          <tr style="border: none">
            <td colspan="2" rowspan="2">
              <button
                class="btn btn-outline-warning"
                style="margin-top:20px;width: 50%"
              >
                PRINT KHS
              </button>
            </td>
            <td></td>
            <td>Jumlah SKS</td>
            <td>24</td>
          </tr>
          <tr style="background:white;border:none">
            <td></td>
            <td>Index Prestasi</td>
            <td>3.86</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
