<div class="container">
  <div class="panel col-lg-10 panel-default">
    <form ng-submit="tes()">
      <table>
        <tr>
          <td>user ID</td>
          <td><input type="text" ng-model="temp.user" required /></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" ng-model="temp.pass" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="checkbox" name="" id="" />
            Saya setuju untuk bla bla bla
          </td>
        </tr>
      </table>

      <button value="submit">MASUK</button>
      <h1>nama {{ nama }}</h1>
    </form>
  </div>
</div>
