<div class="container top-lgin">
  <div class="card col-lg-4 lgin">
    <card-body>
      <img src="./images/iii.png" alt="" />
      <form ng-submit="tes()">
        <table>
          <tr>
            <td class="col-lg-1"></td>
            <td>
              <input
                type="text"
                ng-model="temp.user"
                class="form-control"
                required
              />
            </td>
          </tr>
          <tr>
            <td class="col-lg-3"></td>
            <td>
              <input
                type="password"
                ng-model="temp.pass"
                class="form-control"
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="pull-right">
              <input type="checkbox" name="" id="" required />
              Setuju
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button value="submit" class="btn btn-md pull-right">
                MASUK
              </button>
            </td>
          </tr>
        </table>
      </form>
    </card-body>
  </div>
</div>
