<div class="container-fluid" ng-controller="mdosen">
  <info></info>
  <div class="container-fluid pull-right">
    <a ui-sref="sdosen({id:id})">back</a>
  </div>
  <div class="container row col-lg-3 pull-right">
    <div class="container col-lg-6">
      <b class="col-lg-12">Semester</b>
      <select ng-model="smt" ng-options="list for list in semester"></select>
    </div>
    <div class="container col-lg-6">
      <b class="col-lg-12">Tahun</b>
      <select ng-model="thn" ng-options="list for list in tahun"></select>
    </div>
  </div>
  <div class="container row">
    <div
      class="container col-lg-4"
      ng-repeat="list in dosen.materi | filter:smt|filter:thn"
    >
      <b>{{ list.date }}</b>
      <div class="card mtr">
        <div class="card-body">
          <h4 class="card-title">Modul {{ list.judul }}</h4>
          <div class="card-text">
            <i>Semester {{ list.semester }}</i
            ><br />
            {{ list.sinopsis }}<br />
            <b>Total download: {{ list.download }}</b
            ><br />
            {{ list.matkul }}
          </div>

          <button class="btn-sm btn-success">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>
