<div class="container-fluid wrp" ng-controller="mhs">
  <div class="panel panel-info pnl col-lg-6">
    <div class="col-lg-6">
      <div class="container img-circle">
        <img src="./images/sella.jpg" alt="profil image" />
      </div>
      <div class="col-lg-12">
        <h4>{{ name }}</h4>
        <sup>{{ user }}</sup>
        <div class="bt">
          <button class="btn btn-danger">Lihat Profil</button>
          <button class="btn btn-dark">Foto Profil</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="nav flex-column">
        <li class="nav-item">
          <a ui-sref="kuliah()" class="nav-link">Kuliah</a>
        </li>
        <li class="nav-item">
          <a ui-sref="jmhs()" class="nav-link">Jadwal</a>
        </li>
        <li class="nav-item">
          <a ui-sref="pmhs()" class="nav-link">Perpustakaan</a>
        </li>
        <li class="nav-item">
          <a ui-sref="vamhs()" class="nav-link">Virtual Akun</a>
        </li>
      </div>
    </div>
  </div>
</div>
