<div class="container" ng-controller="daftar">
  <!--Slide Show-->
  <div class="container-fluid">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
      data-interval="2000"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active sheight">
          <img
            class="d-block w-100"
            src="../images/pmd/2.png"
            alt="First slide"
          />
        </div>
        <div class="carousel-item sheight">
          <img
            class="d-block w-100"
            src="../images/pmd/3.png"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item sheight">
          <img
            class="d-block w-100"
            src="../images/pmd/1.png"
            alt="Third slide"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid pmb-her">
    <div class="container col-lg-8 panel pmb-panel">
      <h4>Pendaftaran Reguler D3-S1</h4>
      <div
        class="panel col-lg-3 col-md-3 col-sm-3 pmb-p"
        ng-repeat="list in gel"
        data-aos="fade-right"
      >
        <h5>GELOMBANG {{ list.name }}</h5>
        {{ list.from }} s/d {{ list.till }}
      </div>

      <h4>Pendaftaran Alih Jalur S1</h4>
      <div class="panel panel-info col-lg pmb-p" data-aos="fade-right">
        <h5>ALIH JALUR</h5>
        01-07-2018 s/d 01-10-2018
      </div>
    </div>
    <div class="container pmb-panel col-lg-4 panel side" data-aos="fade-left">
      <p><a ui-sref="registrasi()">Pendaftaran D3 & S1</a></p>
      <p><a ui-sref="#">Pendaftaran S1 Alih Jalur</a></p>
      <p><a ui-sref="#">Jadwal PMB</a></p>
      <p><a ui-sref="#">Jadwal PSU</a></p>
      <p><a ui-sref="#">Kelulusan</a></p>
      <p><a ui-sref="#">Statistik</a></p>
    </div>
    <div class="container col-lg-4 side">
      <div
        class="col-lg-3 panel panel-info"
        ng-repeat="list in menu"
        data-aos="fade-left"
      >
        <a href="{{ list.link }}">{{ list.name }}</a>
      </div>
    </div>
  </div>
</div>
