<div class="container-fluid" ng-controller="pmhs">
  <info></info>
  <div class="container-fluid pull-right">
    <a ui-sref="chkm()">back</a>
  </div>
  <div class="card col-lg-4 pull-right ">
    <div class="nav navik">
      <li class="nav-item">
        <a class="nav-link" ng-click="nav(1)">Pinjaman aktif</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ng-click="nav(2)">Riwayat Pinjaman</a>
      </li>
    </div>
  </div>

  <div class="container row panel panel-info pull-right">
    <div class="row container pendidikan trio">
      <ul class="flex-column nav">
        <li class="nav-item">SD Mujahidin Pontianak (1992 - 1998)</li>
        <li class="nav-item">SMP Negeri 1 Pontianak (1998 - 2001)</li>
        <li class="nav-item">SMU Negeri 3 Pontianak (2001 - 2004)</li>
        <li class="nav-item">
          S1 - Teknik Informatika STMIK Amikom Yogyakarta (2004 - 2008)
        </li>
        <li class="nav-item">S2 - MTI STMIK Amikom Yogyakarta (2009 - 2013)</li>
      </ul>
    </div>
    <div class="row container pekerjaan trio">
      <ul class="flex-column nav">
        <li class="nav-item">
          Assisten Praktikum Basis Data untuk Prodi S1-Teknik Informatika,
          S1-Sistem Informasi - STMIK Amikom Yogyakarta (2006 - 2008)
        </li>
        <li class="nav-item">
          Tentor Pemrograman dan Basis Data - Jogja IT Training Center
          Yogyakarta (2007 - 2009)
        </li>
        <li class="nav-item">
          Dosen Praktikum (SIM) untuk prodi S1-Ekonomi Manajemen dan S1-Ekonomi
          Akuntansi - Universitas Kristen Duta Wacana (2008 - 2011)
        </li>
        <li class="nav-item">
          Dosen Luar Biasa (Pemrograman, Basis Data, Struktur Data) untuk Prodi
          S1-Teknik Informatika dan D3-Teknik Informatika - STMIK Amikom
          Yogyakarta (2008 - 2016)
        </li>
        <li class="nav-item">
          Manajer IT Perusahaan Distributor - PT. Adipura Agung Sakti Yogyakarta
          (2015 - 2017)
        </li>
        <li class="nav-item">
          Dosen Tetap (RPL, Pemrograman, Struktur Data) untuk Prodi
          S1-Informatika dan D3-Manajemen Informatika - Universitas Amikom
          Yogyakarta (2017 - Sekarang)
        </li>
      </ul>
    </div>
    <div class="row container mengajar trio">
      <table class="table col-lg-6 table-striped table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Thn Akademik</th>
            <th>Semester</th>
            <th>Matakuliah</th>
            <th>Jurusan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2018/2019</td>
            <td>Remidial Ganjil</td>
            <td>PEMROGRAMAN LANJUT</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td>Genap</td>
            <td>STRUKTUR DATA</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>PEMROGRAMAN</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td>Ganjil</td>
            <td>REKAYASA PERANGKAT LUNAK</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>PEMROGRAMAN LANJUT</td>
            <td>Informatika</td>
          </tr>

          <tr>
            <td>2017/2018</td>
            <td>Remidial Genap</td>
            <td>PEMROGRAMAN BERBASIS CLIENT/SERVER</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>PEMROGRAMAN</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td>Remidial Ganjil</td>
            <td>PEMROGRAMAN LANJUT</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>PEMROGRAMAN BERBASIS CLIENT/SERVER</td>
            <td>Informatika</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>STRUKTUR DATA</td>
            <td>Informatika</td>
          </tr>

          <tr>
            <td>2016/2017</td>
            <td>Remidial Genap</td>
            <td>PEMROGRAMAN BERBASIS CLIENT/SERVER</td>
            <td>Informatika</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
