<div class="container-fluid proudi" ng-controller="prodi">
  <div class="col-lg-2 ll" style="margin-top:20px">
    <h4>Info Kampus</h4>
    <li class="row eh" ng-repeat="list in kampus" data-aos="zoom-out-right">
      <a href="#"> {{ list }}</a>
    </li>
  </div>
  <div class="col-lg-10 j">
    <div ng-repeat="list in daftar" class="panel-info col-lg-5 panel">
      <h4>{{ list.name }}</h4>
      <a href="{{ list.link }}">{{ list.link }}</a>
    </div>
  </div>
</div>
<div class="container-fluid"></div>
