<div class="container-fluid">
  <div class="container awal col-lg-10">
    <div class="img-rektor col-lg-4">
      <img src="./images/rektor.jpg" alt="foto rektor" class=" pull-right" />
    </div>
    <div class="col-lg-8">
      <p>test</p>
    </div>
  </div>
  <div class="container col-lg-12">
    <h4>Creative Economy Park</h4>
  </div>
  <div class="container col-lg-10">
    <div class="card col-lg-3 vm">
      <div class="card-title">
        VISI
      </div>
      <div class="card-text">
        <p class="col-lg-12">
          <ul class="nv">
            <li>Menjadi salah satu universitas unggulan dunia dalam bidang teknologi
                informasi, komunikasi dan bisnis berbasis moral dan entrepreneurship.</li>
          </ul>
          
        </p>
      </div>
    </div>
    <div class="card col-lg-3 vm">
      <div class="card-title">
        MISI
      </div>
      <div class="card-text">
        <p class="col-lg-12">
          <ol>
              <li>Menyelenggarakan pendidikan tinggi kelas dunia di bidang teknologi informasi, komunikasi dan bisnis berbasis moral dan entrepreneurship.</li>
              <li>Melaksanakan penelitian penelitian dalam bidang teknologi informasi, komunikasi dan bisnis berkualitas dunia yang dapat berperan meningkatkan daya saing nasional.</li>
             <li> Menyelenggarakan layanan pengabdian kepada masyarakat secara profesional dalam rangka ikut memecahkan persoalan dunia maupun nasional, terutama dalam bidang teknologi informasi, komunikasi dan bisnis.</li>
             <li> Menyelenggarakan pendidikan berstandar global melalui kemitraan dan jejaring nasional, regional maupun global.</li>
          
          </ol>
           </p>
      </div>
    </div>
    <div class="card col-lg-3 vm">
        <div class="card-title">
          TUJUAN
        </div>
        <div class="card-text">
          <p class="col-lg-12">
            <ol>
                <li>Menghasilkan lulusan yang berkualitas global, bermoral tinggi, berjiwa entrepreneur dan profesional dalam disiplin ilmu teknologi informasi, komunikasi dan bisnis.</li>
<li>Menghasilkan penelitian dan produk teknologi informasi, komunikasi dan bisnis berkualitas global yang dapat berperan meningkatkan daya saing nasional.</li>
<li>Menyelenggarakan layanan pengabdian kepada masyarakat secara profesional dalam rangka ikut memecahkan persoalan global maupun nasional, terutama dalam bidang teknologi informasi, komunikasi dan bisnis.</li>
<li>Menyelenggarakan pendidikan berstandar global melalui kemitraan dan jejaring nasional, regional maupun global.</li>
            </ol>
             </p>
        </div>
      </div>
      <div class="card col-lg-3 vm">
          <div class="card-title">
            SASARAN
          </div>
          <div class="card-text">
            <p class="col-lg-12">
              <ol>
                  <li>Terwujudnya lulusan yang berkualitas global, berjiwa entrepreneur dan profesional dalam disiplin ilmu teknologi informasi, komunikasi dan bisnis</li>
<li>Terwujudnya penelitian dan produk teknologi informasi, komunikasi dan bisnis berkualitas global yang dapat berperan meningkatkan daya saing nasional.</li>
<li>Terwujudnya layanan pengabdian kepada masyarakat secara profesional dalam rangka ikut memecahkan persoalan global maupun nasional, terutama dalam bidang teknologi informasi, komunikasi dan bisnis.</li>
<li>Terwujudnya pendidikan berstandar global melalui kemitraan dan jejaring nasional, regional maupun global.</li>
              </ol>
               </p>
          </div>
        </div>
  </div>
  <div class="container col-lg-12">
    <ul class="nav">
      
          <li class="nav-item"><a href="#" class="nav-link">Restran Amikom</a></li>
     
          <li class="nav-item"><a href="#" class="nav-link">Kebijakan dan Sasaran mutu</a></li>
      
          <li class="nav-item"><a href="#" class="nav-link">Download PDF</a></li>
      
      
    </ul>
  </div>
</div>
