<div class="container" ng-controller="formReg">
  <form action="">
    <h4>Biodata</h4>
    <div class="col-lg-6">
      <div class="container" ng-repeat="list in formlist | limitTo:4" data-aos="fade-right">
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <input
              class="form-control"
              type="{{ list.type }}"
              placeholder="{{ list.ph }}"
            />
          </td>
        </tr>
      </div>

      <div class="container" ng-repeat="list in formOption | limitTo:3" data-aos="fade-right">
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <select
              class="form-control"
              style="height:34px"
              name="{{ list.title }}"
              id=""
            >
              <option ng-repeat="opt in list.fill" value="{{ opt.val }}">{{
                opt.title
              }}</option>
            </select>
          </td>
        </tr>
      </div>

      <div class="container" data-aos="fade-right">
        <tr>
          <td>
            <br />Alamat<br />
            <textarea
              class="form-control"
              name=""
              id=""
              cols="30"
              rows="3"
            ></textarea>
          </td>
        </tr>
      </div>

      <div class="container" data-aos="fade-right">
        <tr>
          <td>
            <br />RT / RW<br />

            <input
              class="form-control"
              type="text"
              maxlength="2"
              style="width: 50px;float: left;"
            />
            <input
              class="form-control"
              type="text"
              maxlength="2"
              style="width: 50px;position: relative;left:5px;"
            />
          </td>
        </tr>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container" ng-repeat="list in formlist | limitTo:2:4" data-aos="fade-left">
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <input
              class="form-control"
              type="{{ list.type }}"
              placeholder="{{ list.ph }}"
            />
          </td>
        </tr>
      </div>

      <div class="container" ng-repeat="list in formOption | limitTo:2:3" data-aos="fade-left">
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <select
              class="form-control"
              style="height:34px"
              name="{{ list.title }}"
              id=""
            >
              <option ng-repeat="opt in list.fill" value="{{ opt.val }}">{{
                opt.title
              }}</option>
            </select>
          </td>
        </tr>
      </div>

      <div class="container" ng-repeat="list in formlist | limitTo:2:6" data-aos="fade-left>
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <input
              class="form-control"
              type="{{ list.type }}"
              placeholder="{{ list.ph }}"
            />
          </td>
        </tr>
      </div>

      <div class="container" ng-repeat="list in formOption | limitTo:1:5" data-aos="fade-left">
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <select
              class="form-control"
              style="height:34px"
              name="{{ list.title }}"
              id=""
            >
              <option ng-repeat="opt in list.fill" value="{{ opt.val }}">{{
                opt.title
              }}</option>
            </select>
          </td>
        </tr>
      </div>

      <div class="container" ng-repeat="list in formlist | limitTo:1:8"  data-aos="fade-left">
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <input
              class="form-control"
              type="{{ list.type }}"
              placeholder="{{ list.ph }}"
            />
          </td>
        </tr>
      </div>

      <div class="container" data-aos="fade-left">
        <tr>
          <td>
            <br />Rata-Rata NEM<br />
            <input
              class="form-control"
              type="text"
              maxlength="1"
              placeholder="0"
              style="width: 50px;float: left;"
            />
            <p style="float: left;font-size:180%"><sub>,</sub></p>
            <input
              class="form-control"
              type="text"
              maxlength="2"
              placeholder="00"
              style="width: 50px;position: relative;left:5px;"
            />
          </td>
        </tr>
      </div>
    </div>
    <div class="col-lg-12"><h4>Pilihan Jurusan</h4></div>

    <div class="col-lg-6">
      <div
        class="container"
        ng-repeat="list in formOption | limitTo:2:6"
        data-aos="fade-right"
      >
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <select
              class="form-control"
              style="height:34px"
              name="{{ list.title }}"
              id=""
            >
              <option ng-repeat="opt in list.fill" value="{{ opt.val }}">{{
                opt.title
              }}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="container"
        ng-repeat="list in formOption | limitTo:2:8"
        data-aos="fade-left"
      >
        <tr>
          <td>
            <br />{{ list.title }} <br />
            <select
              class="form-control"
              style="height:34px"
              name="{{ list.title }}"
              id=""
            >
              <option ng-repeat="opt in list.fill" value="{{ opt.val }}">{{
                opt.title
              }}</option>
            </select>
          </td>
        </tr>
      </div>
    </div>
    <div class="col-lg-12 container pull-right" data-aos="fade-right">
      <input
        class="btn btn-md btn-sbt"
        type="submit"
        value="Daftar"
        class="btn btn-success"
      />
    </div>
  </form>
</div>
