<div class="container-fluid unik" ng-controller="sdosen">
  <info></info>
  <div class="container-fluid pull-right">
    <a ui-sref="chkd()">back</a>
  </div>
  <div class="row col-lg-6">
    <div class="container col-lg-6">
      <div class="gbr img-circle pull-right">
        <img src="{{ dosen.pics }}" alt="" />
      </div>
    </div>
    <div class="container col-lg-6">
      <h2>{{ dosen.nama }}</h2>
      <a href="{{ dosen.email }}@amikom.ac.id"
        >{{ dosen.email }}@amikom.ac.id</a
      >
      <p>{{ dosen.sinopsis }}</p>
    </div>
  </div>
  <div class="row col-lg-4 dmenu">
    <ul
      class="list-group list-group-flush panel uiu"
      style="box-shadow: 0 0 2px grey"
    >
      <li class="list-group-item">
        <a ui-sref="riwayat({id: id })">Riwayat</a>
      </li>
      <li class="list-group-item">
        <a ui-sref="mdosen({id: id })">Materi Perkuliahan</a>
      </li>
      <li class="list-group-item">
        <a ui-sref="jdosen({id: id })">Jadwal Mengajar</a>
      </li>
      <li class="list-group-item">
        <a ui-sref="ndosen({id: id })">Nilai Perkuliahan</a>
      </li>
    </ul>
  </div>
</div>
