<div class="container-fluid" style="margin-top:20px;" ng-controller="sras">
  <div class="row col-lg-2 dmenu" style="margin-top: 20px;">
        <ul
        class="list-group list-group-flush panel uiu"
        style="box-shadow: 0 0 2px grey;margin-top:12%;margin-left:8%"
        bag="spras"
      >
        <li class="list-group-item">
          <a href="#"">Profil</a>
        </li>
        <li class="list-group-item">
          <a href="#">Berita</a>
        </li>
        <li class="list-group-item">
          <a href="#">Pelayanan</a>
        </li>
        <li class="list-group-item">
          <a href="#">Fasilitas</a>
        </li>
        
        <li class="list-group-item">
              <a href="#"">Informasi</a>
              </li>
            <li class="list-group-item">
              <a href="#">Kontak</a>
            </li>
            <li class="list-group-item">
              <a href="#">Fasilitas Umum</a>
            </li>
            <li class="list-group-item">
              <a href="#">Galeri</a>
            </li>
      </ul>
  </div>
  <div class="col-lg-8" style="margin-top:10px; ">
      <div class="col-lg-8" style="height: 60vh;margin-left:6%;">
          <img src="./images/org/spras.jpg" alt="" style="height: 100%">
      </div>
  </div>
  <div class="col-lg-2 ll" style="margin-top:20px">
    <h4>Info Universitas</h4>
    <li class="row eh" ng-repeat="list in kampus" data-aos="zoom-out-left">
      <a href="#"> {{ list }}</a>
    </li>
  </div>
  <div class="col-lg-12" style="margin-bottom: 20px;margin-top:20px;">
      <div class="card">
          <card-body class="oo">
              <li><h5>Berita</h5></li>
             <li>
                 <sub>15 Nov 2017</sub>
                 <h5><a href="#">JADWAL BAGI BUKU TA.17-18</a></h5>
             </li>
             <li>
                    <sub>31 Jul 2017</sub>
                    <h5><a href="#">Persiapan SarPras Menghadapi T.A 2017-2018</a></h5>
                </li>
                <li>
                        <sub>31 Jul 2017</sub>
                        <h5><a href="#">Masih Kegiatan yg sama</a></h5>
                    </li>
                    <li style="border:none">
                            <sub>17 Jun 2017</sub>
                            <h5><a href="#">Personil Direktorat Sarana & Prasarana Yang Siap Dengan Tantangan Perkembangan Universitas Amikom Yogyakarta</a></h5>
                        </li>
          </card-body>
      </div>
  </div>
</div>
