<div class="container-fluid" style="margin-bottom:50px;">
  <li style="list-style: none;margin-top:30px;">
    <h5>
      Syarat Pendaftaran Calon Mahasiswa Diploma III dan Strata 1 Program
      Reguler
    </h5>
    <ol>
      <li>Warga Negara Indonesia/WNA (Tugas belajar/Ijin belajar).</li>
      <li>Khusus Prodi Teknik Informatika : Jurusan IPA dan SMK Teknik.</li>
      <li>
        Menyerahkan 1 (satu) lembar fotocopy NEM/UAN atau Rapor Kelas III yang
        sudah di legalisir
      </li>
      <li>Menyerahkan 2 (dua) lembar pas foto ukuran 3 x 4.</li>
      <li>
        Menyerahkan biaya pendaftaran <b>Rp. 200.000,-</b> (Dua ratus ribu
        rupiah) untuk empat pilihan <er style="color:red">(*)</er>.
      </li>
    </ol>
  </li>
  <li style="list-style: none;margin-top:30px;">
    <er style="color:red">(*)</er> Biaya pendaftaran
    <b>Penerimaan Mahasiswa Baru Reguler (via Online)</b> dapat dibayarkan ke
    salah satu rekening berikut :
    <div class="col-lg-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Nama Bank</th>
            <th>Atas Nama</th>
            <th>Nomor Rekening</th>
            <th>Kolom Referensi</th>
          </tr>
          <tr>
            <td>Bank Muamalat</td>
            <td>Yayasan AMIKOM Yogyakarta QQ maba</td>
            <td>537.0004.500</td>
            <td>
              No. Referensi - Nama Pendaftar<br />cth :
              <i>16000014016 - puguh hasta</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </li>
</div>
