::-webkit-scrollbar {
  width: 0;
}
body {
  margin: 0;
}
.menu-user {
  background-color: yellow;
}
.menu-amikom {
  background-color: orange;
}
.top-konten {
  button {
    margin-top: 10%;
  }
}
.pmb {
  background: green;
  color: white;
  .r {
    background-color: red;
  }
}
.menu-3 {
  margin: {
    top: 2%;
    left: 6.2%;
  }
}
.display-prodi {
  margin-left: 5%;
}
.ng-scope.ng-enter {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  opacity: 0;
  &.ng-enter-active {
    transform: translateX(0);
    opacity: 1;
  }
}
.award {
  height: 60px;
  overflow: hidden;
  font-size: 80%;
}
.sheight {
  height: 380px;
  overflow: hidden;
}
.pmb-panel {
  position: relative;
  top: -30px;
}
.pmb {
  height: 100px;
}
