::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  margin: 0;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.25);
}

.menu-user {
  border-radius: 0;
  background: -webkit-gradient(linear, left top, right top, from(#eda900), to(#fcc22f));
  background: linear-gradient(90deg, #eda900, #fcc22f);
  margin-bottom: 0;
  font-size: 85%;
  height: 40px;
}

.menu-user a {
  color: #59493c;
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
}

.menu-user li {
  width: 80px;
  text-align: center;
  margin-left: 0;
}

.pann {
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  padding-bottom: 25px;
}

.pann[posisi="dua"] {
  margin-left: 30px;
}

.pann input,
.pann select,
.pann textarea {
  width: 300px;
}

.fff {
  background: url(../images/mikom.png);
  height: 150vh;
  position: absolute;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: puter 3.5s infinite;
          animation: puter 3.5s infinite;
  z-index: -1;
}

@-webkit-keyframes puter {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes puter {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hdd {
  height: 400px;
  margin-top: 10px;
}

.hdd iframe {
  height: 100%;
}

.hdd div {
  height: 100%;
}

.hdd div li.btt {
  margin-top: 10px;
}

.hdd .immg {
  height: 100%;
  width: 290px;
}

.panel-info {
  border-color: #300279;
  background: white;
}

.inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.navbar-brand img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.menu-amikom {
  height: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#482373), to(#300279));
  background: linear-gradient(90deg, #482373, #300279);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.514);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.514);
  font-size: 120%;
  margin-bottom: 0;
  border-radius: 0;
}

.menu-amikom a {
  color: white;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.menu-amikom li {
  width: 80px;
  text-align: center;
}

.menu-amikom li img {
  width: 150%;
}

.cimg {
  height: 50vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jadu {
  text-align: center;
}

.jadu h4 {
  margin-bottom: 20px;
}

.j {
  height: 55vh;
  overflow: scroll;
  margin-left: 20px;
  margin-top: 20px;
}

.j div {
  text-align: right;
  color: white;
  background-image: url("../images/Untitled-1.png");
  background-repeat: no-repeat;
  background-size: 160%;
  margin-left: 5%;
}

.j div a {
  color: #fac71e;
}

.top-konten {
  height: 50vh;
}

.top-konten button {
  position: relative;
  bottom: 0;
  border: 1px solid #fac71e;
  background: transparent;
  color: #fac71e;
  width: 20%;
  height: 10%;
}

.top-konten button:hover {
  border: 1px solid #fac71e;
  background: #fac71e;
  color: white;
}

.form-control {
  width: 50%;
}

.pmb {
  background: #1f0052;
  color: white;
  z-index: 2;
  line-height: 150%;
}

.pmb .r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pmb button {
  position: relative;
  bottom: 0;
  border: 1px solid white;
  background: transparent;
  color: white;
  float: bottom;
  width: 50%;
}

.pmb button:nth-child(1) {
  margin-top: 40px;
}

.pmb button:hover {
  border: 1px solid #fac71e;
  background: #fac71e;
  color: white;
}

.menu-3 {
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.menu-3 p {
  text-align: justify;
}

.display-prodi {
  margin-left: 5%;
}

.ng-scope.ng-enter {
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  opacity: 0;
}

.ng-scope.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.update {
  margin-bottom: 10px;
}

.dosen.ng-enter {
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
}

.dosen.ng-enter.ng-enter-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.dosen.ng-leave {
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.75s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.75s;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.dosen.ng-leave.ng-leave-active {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  opacity: 0;
}

.award {
  height: 80px;
  overflow: hidden;
  font-size: 80%;
  margin-left: 3%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sheight {
  height: 380px;
  overflow: hidden;
}

.pmb-panel {
  position: relative;
  top: -30px;
}

.pmb-panel .pmb-p {
  background: #fac71e;
  height: 100px;
  border: 3px solid white;
}

.pmb-her {
  margin-top: 10%;
}

.profil {
  background: #b5b5d8;
  height: 60px;
  width: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.profil img {
  width: 200%;
  padding-top: 12px;
}

.info {
  position: relative;
  line-height: 50%;
  margin-left: 70px;
}

.ainfo {
  position: relative;
  left: 0;
  margin-top: 5px;
}

.dosen {
  height: 80px;
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
  margin-top: 8px;
}

.dosen:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(124, 15, 187, 0.438)), to(transparent));
  background: linear-gradient(90deg, rgba(124, 15, 187, 0.438), transparent);
}

.dosen .mg {
  width: 80px;
  height: 72px;
  position: relative;
  left: -30px;
  line-height: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dosen .mg img {
  width: 100%;
}

.list {
  overflow: scroll;
  height: 50vh;
}

.idSearch {
  position: relative;
  left: 50%;
  top: 50px;
  margin-bottom: 30px;
}

.col-lg-6 > h5 {
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.25s;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.25s;
}

.col-lg-6 > h5:hover {
  color: #5d0697;
}

a:hover {
  text-decoration: none;
}

.gbr {
  width: 180px;
  height: 180px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.gbr img {
  width: 100%;
}

.dmenu {
  text-align: center;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -70px;
  margin-bottom: 10px;
}

.dmenu div {
  margin-left: 15px;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
  background: -webkit-gradient(linear, left top, right top, from(#300279), color-stop(transparent), to(#300279));
  background: linear-gradient(90deg, #300279, transparent, #300279);
}

.dmenu div a {
  font-weight: bold;
}

.dmenu div:hover {
  background: #300279;
}

.dmenu div:hover a {
  color: white;
}

.ppo {
  height: 40vh;
  overflow: scroll;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.301);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.301);
}

.rer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.oio {
  background: #7136b5;
  color: white;
}

.thead-purple {
  background: #c188ff;
  color: white;
}

.oo {
  margin-top: 10px;
  margin-bottom: 20px;
}

.oo li {
  list-style: none;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
}

.uiu {
  width: 120%;
}

.uiu[bag="spras"] li:hover {
  background: #d6950aaf;
}

.uiu li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.uiu li:hover {
  background: #690ad6af;
}

.uiu li:hover a {
  color: white;
}

.navik {
  margin-left: 20px;
  margin-bottom: 20px;
}

.navik > li {
  cursor: pointer;
}

.mengajar table {
  margin-top: 20px;
}

.trio {
  line-height: 250%;
  display: none;
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.mtr {
  height: 300px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.37);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.37);
  cursor: pointer;
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.mtr:hover {
  background: #a2d7fa;
}

.mtr button {
  margin-top: 0px;
  background: #0a84d6;
  color: white;
  height: 50px;
  -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
}

.mtr button:hover {
  color: #0a84d6;
  background: white;
  border: 1px solid #0a84d6;
}

.top-content {
  background-color: #1f0052;
  color: white;
}

#homepmb {
  background-image: url("../images/Untitled-1.png");
  background-repeat: no-repeat;
}

.carimat {
  width: 120px;
  margin-left: 0;
}

.memangbujank {
  position: relative;
  left: -17%;
  top: -10px;
}

.memangbujank[mhs="ya"] {
  left: 50%;
  margin-bottom: 30vh;
}

#paymenttbl td {
  padding: 5px;
}

#paymenttbl td input[class="form-controll"] {
  width: 180px;
  height: 30px;
}

.mmorpg {
  height: 60vh;
  margin-top: 10px;
  overflow: scroll;
}

.mmorpg .col-lg-2 {
  margin-left: 5%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.mmorpg .col-lg-2 img {
  width: 100%;
}

.awal {
  background: transparent;
  height: 250px;
  text-align: justify;
}

.awal div {
  line-height: 150%;
  margin-top: 15px;
}

.img-rektor {
  height: 100%;
}

.img-rektor > img {
  height: 100%;
}

.vsi {
  margin-bottom: 10px;
}

.vsi > div {
  background: #fac71e;
  border: 1px solid white;
}

.vm {
  height: 250px;
  overflow: scroll;
}

.nv > li {
  list-style: none;
}

.wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrp .mr-auto {
  margin-top: 30px;
}

.wrp .mr-auto .img-circle {
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.wrp .mr-auto .img-circle img {
  width: 180%;
}

.pnl {
  height: 300px;
}

.pnl div {
  float: left;
  height: 98%;
}

.pnl div:nth-child(1) .container {
  height: 120px;
  width: 120px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 80px;
  top: 15px;
}

.pnl div:nth-child(1) .container img {
  width: 150%;
}

.pnl div:nth-child(1) .col-lg-12 {
  height: 20%;
  position: relative;
  text-align: center;
}

.pnl div:nth-child(1) .col-lg-12 .bt {
  position: absolute;
  left: 18%;
}

.pnl div:nth-child(2) .nav {
  width: 100%;
}

.lmtr {
  margin-bottom: 10px;
}

.yyu {
  margin-left: -10%;
}

.jkjk {
  height: 65vh;
  overflow: scroll;
}

.re {
  text-align: center;
}

.re .col-lg-12 {
  margin-left: -18px;
}

.btn-gq {
  height: 40px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
  margin-top: 5px;
  margin-bottom: 5px;
}

.panel-footer {
  background: -webkit-gradient(linear, left top, right top, from(#482373), to(#7136b5));
  background: linear-gradient(90deg, #482373, #7136b5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 0;
}

.panel-footer div {
  padding-top: 25px;
}

.proudi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proudi .panel {
  height: 100px;
  overflow: scroll;
}

.forw {
  height: 300px;
  overflow: hidden;
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
  position: relative;
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.forw img {
  width: 150%;
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
  -webkit-transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
  position: relative;
  left: -30px;
}

.forw:hover {
  opacity: 0.5;
}

.forw:hover > div {
  left: 10%;
}

.forw:hover > img {
  width: 180%;
}

.forw div {
  -webkit-transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  position: absolute;
  top: 50%;
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
  background: #edaa00;
  width: 100%;
  color: white;
  text-align: center;
  left: 120%;
}

.side:nth-child(2) {
  background: #7136b5;
  color: white;
}

.side:nth-child(2) a {
  color: white;
}

.side .panel {
  height: 40px;
  margin-top: -10%;
  margin-left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: #7136b5;
}

.side .panel a {
  color: white;
}

.side .panel:nth-child(4) {
  margin-top: 0;
}

.side .panel:nth-child(5) {
  margin-top: 0;
}

.side .panel:nth-child(6) {
  margin-top: 0;
}

.btn-sbt {
  margin-top: 15px;
  margin-left: 16px;
  margin-bottom: 15px;
  -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  background: #eda900;
}

.btn-sbt:hover {
  background: #d6660a;
  color: white;
}

.prog-akademik .display-prodi {
  margin-top: 5px;
  padding-bottom: 10px;
  color: black;
  -webkit-transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
  transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.prog-akademik .display-prodi button {
  background: #286ef1a8;
  -webkit-transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  transition: cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
  border: none;
}

.prog-akademik .display-prodi button:hover {
  background: #7136b5;
}

.eh {
  position: relative;
  left: 5%;
  margin-bottom: 3%;
}

.iakad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #482373;
}

.iakad div {
  height: 250px;
}

.iakad div sup {
  color: #0099ff;
  font-size: 100%;
}

.iakad div p {
  margin-top: 10px;
}

.btn-g {
  background: #fc9208;
  height: 30%;
  line-height: 50px;
}

.btn-g a {
  color: white;
}

.ff {
  border: none;
  margin-top: 10px;
  -webkit-transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent));
  background: linear-gradient(90deg, transparent, transparent);
  margin-bottom: 10px;
}

.ff:hover {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.253);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.253);
}

.ffg {
  margin-left: 10px;
  margin-bottom: 10px;
}

.ffg button {
  background: #0a7ad6;
  margin-bottom: 10px;
  color: white;
}

.ffg button:hover {
  color: white;
  background: #5e07ff;
}

.top-lgin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

tr td[colspan="2"] .btn {
  width: 73%;
}

.lgin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.lgin form {
  margin-top: 20px;
  margin-left: -25px;
}

.lgin input {
  margin-bottom: 10px;
}

.lgin input[type="text"], .lgin input[type="password"] {
  margin-left: 5px;
  width: 100%;
}

.lgin button {
  background: #7136b5;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 10px;
}

.lgin button:hover {
  background: white;
  color: #7136b5;
  border: 1px solid #7136b5;
}
/*# sourceMappingURL=main.css.map */