::-webkit-scrollbar {
  width: 0;
}
body {
  margin: 0;
}
.menu-user {
  background-color: yellow;
}
.menu-amikom {
  background-color: orange;
}
.top-konten {
  button {
    margin-top: 10%;
  }
}
.pmb {
  background: green;
  color: white;
  .r {
    background-color: red;
  }
}
.menu-3 {
  margin: {
    top: 2%;
    left: 6.2%;
  }
}
.display-prodi {
  margin-left: 5%;
}
.ng-scope.ng-enter {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
  opacity: 0;
  &.ng-enter-active {
    transform: translateX(0);
    opacity: 1;
  }
}
.dosen.ng-enter {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transform: translateY(40%);
  opacity: 0;
  &.ng-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
}
.dosen.ng-leave {
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.75s;
  transform: translateY(0%);
  opacity: 1;
  &.ng-leave-active {
    transform: translateY(40%);
    opacity: 0;
  }
}
.award {
  height: 60px;
  overflow: hidden;
  font-size: 80%;
}
.sheight {
  height: 380px;
  overflow: hidden;
}
.pmb-panel {
  position: relative;
  top: -30px;
}
.pmb {
  height: 100px;
}
.profil {
  background: rgb(181, 181, 216);
  height: 60px;
  width: 60px;
  position: relative;
  display: flex;
  margin-bottom: 4%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    width: 200%;
    padding-top: 12px;
  }
}
.info {
  position: relative;
  line-height: 50%;
  margin-left: 70px;
}
.ainfo {
  position: relative;
  left: 0;
  background: rgb(166, 199, 18);
}
.dosen {
  height: 80px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
  border: {
    top: 4px solid red;
    bottom: 4px solid red;
  }
  margin-top: 8px;
  .mg {
    width: 80px;
    height: 72px;
    background: red;
    position: relative;
    left: -30px;
    line-height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
}
.list {
  overflow: scroll;
  height: 50vh;
}
.idSearch {
  position: relative;
  left: 50%;
}
.col-lg-6 > h5 {
  cursor: pointer;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.25s;
  &:hover {
    color: red;
  }
}
.gbr {
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: black;
  img {
    width: 100%;
  }
}
.dmenu {
  text-align: center;
  height: 120px;
  line-height: 120px;
  display: flex;
  justify-content: center;
  & > .panel {
    margin-left: 15px;
  }
}
.navik {
  & > li {
    cursor: pointer;
  }
}
.trio {
  line-height: 250%;
  display: none;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.mtr {
  height: 200px;
}
.awal {
  background: green;
  height: 250px;
}
.img-rektor {
  height: 100%;
  & > img {
    height: 100%;
  }
}
.vm {
  height: 250px;
  overflow: scroll;
}
.nv > li {
  list-style: none;
}
.wrp {
  display: flex;
  justify-content: center;
}
.pnl {
  height: 300px;
  & div {
    float: left;
    height: 98%;
    &:nth-child(1) {
      & .container {
        height: 120px;
        width: 120px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 80px;
        top: 15px;
        & img {
          width: 150%;
        }
      }

      & .col-lg-12 {
        height: 20%;
        position: relative;
        background: yellow;
        top: 30%;
        & .bt {
          position: absolute;
          top: -100%;
          left: 18%;
        }
      }
    }
    &:nth-child(2) {
      & .nav {
        width: 100%;
      }
    }
  }
}
